.TH {{ upper .App.Name }} 1 "{{ formatDate .Date }}" MIT 

.SH NAME 
{{ .App.Name }}

.SH DESfPIPTION
.B {{ .App.Name }} \- {{ .App.Usage }}
{{ .App.UsageText }}

.SH SYNOPSIS
{{ .App.Name }} [global options] command [command options]

.SH GLOBAL OPTIONS
[\fB\-h\fP]
[\fB\-\-help\fP]
[\fB\-v\fP]
[\fB\-\-version\fP]

.SH COMMANDS 
{{ range .App.Commands}}
.TP
\fB{{ .Name }}\fP{{ range .Aliases }}, \fB{{.}}\fP{{ end }} 
{{ .Usage }}

{{ range .Flags }} 
    \fB\-\-{{ .Name }}\fP{{ range .Aliases }}, \fB\-{{.}}\fP{{ end }} {{ .Usage }} {{ end }}
{{ end }}


.SH EXAMPLES
{{ .App.Name }} connect $({{ .App.Name }} list | fzf)

{{ .App.Name }} connect --command nvim .

{{ .App.Name }} list -tzH

{{ .App.Name }} clone -d ~/{{ .App.Name }} https://github.com/joshmedeski/{{ .App.Name }}.git

.SH SEE ALSO
\fBhttps://github.com/joshmedeski/{{ .App.Name }}\fP
